/* Diagnostic Styling */
* {
  outline: 2px solid gray;
} 

/* temp background color */
body {
    background: lightblue;
}
  
/* vertical and horizontal centering */
body {
  display: grid;
  place-content: center;
  height: 100vh;
}

/* Flower Styling */
#petals {
   rotate: 0deg;
    transform-origin: center center;
    transition: rotate 3s;
  }
  
  #petals:hover {
    rotate: 45deg;
  }

  #left-petal { 
    transform-origin: bottom;
    animation: slideInLeft 3s;
  }

  #right-petal { 
    transform-origin: bottom;
    animation: slideInRight 3s;
  }

  /* Keyframes */
  @keyframes slideInRight{ 
    0%{
      fill: red; 
    }
    
    50%{
      rotate: 360deg;
    }
    100%{
      opacity: 1;
    }
  }

@keyframes slideInLeft{ 
    0%{
      fill: yellow; 
    }
    
    50%{
      rotate: -360deg;
    }
    100%{
      opacity: 1;
    }
  }